.quote__bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.quotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 3px solid black;
  margin: 2px;
  padding: 2px;
  flex-basis: 30%;
}

.locations__card {
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.locations {
  border: 3px solid black;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 20%;
}

.location__image {
 width="600"; 
 height="450"; 
 frameborder="0";
 style="border:0;
}