@import "../locations/locations.css";
@import "../navbar/nav.css";

body {
  background-color: lightskyblue;
}

.content{
  display: flex;
}

img {
  max-width: 100%;
}

.fishies {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-evenly;
}

.fish__name {
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
  padding: 10px 0px 10px 0px;
}

.fishies__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 30%;
  text-align: center;
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
}

.highlightFish {
  background-color: #0066ff;
}

.highlightTips {
  border: 2px dotted  darkblue;
}

aside{
  width: 30%;
  border: 3px dotted #0066cc;
  padding: 5px;
}


